.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  text-decoration: none;
  background: #86d3f4;
  border: 2px solid black;

  color: black;
  &:hover {
    color: #86d3f4;
    background-color: black;
  }
}
