.main-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  user-select: none;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.close-button {
  background: white;
  margin-right: 20px;
  margin-top: 20px;
  width: 88px;
  height: 52px;
  a {
    display: block;
    padding: 16px 33px;
  }
  &:hover{
    background: black;
    .close-button__img{
      background: url("./../assets/img/closeButton/close-white.svg") center no-repeat;
    }
  }
  &__image {
    height: 22px;
    width: 22px;
    background: url("./../assets/img/closeButton/close.svg") center no-repeat;
    // &:hover{
    //   background: url("./../assets/img/closeButton/close-white.svg") center no-repeat;
    // }
  }
}

// .close-button:hover .close-button__img{
//   background: url("./../assets/img/closeButton/close-white.svg") center no-repeat;
// }

.qr-info {
  display: flex;
  align-items: center;
  max-width: 314px;
  margin-right: 40px;
  margin-bottom: 40px;
  &__img {
    width: 110px;
    height: 110px;
    background: url("./../assets/img/qr-info/qr.svg") center no-repeat;
  }
  &__text {
    max-width: 194px;
    margin-right: 10px;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  padding: 18px 47px;
  &:focus {
    box-shadow: 0 0 0 1px #30203d, 0 0 0 3px rgba(250, 242, 255, 1),
      0 0 0 4px #30203d;
  }
}
